### SVM

## 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')
data

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,...,4836.0,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993
72979,73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,...,10151.0,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038
72980,73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,...,11831.0,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893
72981,73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,...,10099.0,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974
72982,73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,...,11954.0,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313

In [3]:
f = open('Data_Dictionary.txt', 'r')
while True:
    line = f.readline()
    if line == '':
        break
    print(line, end='')
f.close()

Field Name				Definition
RefID				        Unique (sequential) number assigned to vehicles
IsBadBuy				Identifies if the kicked vehicle was an avoidable purchase
PurchDate				The Date the vehicle was Purchased at Auction
Auction					Auction provider at which the  vehicle was purchased
VehYear					The manufacturer's year of the vehicle
VehicleAge				The Years elapsed since the manufacturer's year
Make					Vehicle Manufacturer
Model					Vehicle Model
Trim					Vehicle Trim Level
SubModel				Vehicle Submodel
Color					Vehicle Color
Transmission				Vehicles transmission type (Automatic, Manual)
WheelTypeID				The type id of the vehicle wheel
WheelType				The vehicle wheel type description (Alloy, Covers)
VehOdo					The vehicles odometer reading
Nationality				The Manufacturer's country
Size					The size category of the vehicle (Compact, SUV, etc.)
TopThreeAmericanName			Identifies if the manufacturer is one of the top three American manufacturers
MMRAcquisitionAuctionAveragePrice	Acquisition price for this vehicle in average condition at time of purchase
MMRAcquisitionAuctionCleanPrice		Acquisition price for this vehicle in the above Average condition at time of purchase
MMRAcquisitionRetailAveragePrice	Acquisition price for this vehicle in the retail market in average condition at time of purchase
MMRAcquisitonRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition at time of purchase
MMRCurrentAuctionAveragePrice		Acquisition price for this vehicle in average condition as of current day
MMRCurrentAuctionCleanPrice		Acquisition price for this vehicle in the above condition as of current day
MMRCurrentRetailAveragePrice		Acquisition price for this vehicle in the retail market in average condition as of current day
MMRCurrentRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition as of current day
PRIMEUNIT				Identifies if the vehicle would have a higher demand than a standard purchase
AcquisitionType				Identifies how the vehicle was aquired (Auction buy, trade in, etc)
AUCGUART				The level guarntee provided by auction for the vehicle (Green light - Guaranteed/arbitratable, Yellow Light - caution/issue, red light - sold as is)
KickDate				Date the vehicle was kicked back to the auction
BYRNO					Unique number assigned to the buyer that purchased the vehicle
VNZIP                                   Zipcode where the car was purchased
VNST                                    State where the the car was purchased
VehBCost				Acquisition cost paid for the vehicle at time of purchase
IsOnlineSale				Identifies if the vehicle was originally purchased online
WarrantyCost                            Warranty price (term=36month  and millage=36K)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   RefId                              72983 non-null  int64
 1   IsBadBuy                           72983 non-null  int64
 2   PurchDate                          72983 non-null  object
 3   Auction                            72983 non-null  object
 4   VehYear                            72983 non-null  int64
 5   VehicleAge                         72983 non-null  int64
 6   Make                               72983 non-null  object
 7   Model                              72983 non-null  object
 8   Trim                               70623 non-null  object
 9   SubModel                           72975 non-null  object
 10  Color                              72975 non-null  object
 11  Transmission                       72974 non-null  object
 12  WheelTypeID                        69814 non-null  float64
 13  WheelType                          69809 non-null  object
 14  VehOdo                             72983 non-null  int64
 15  Nationality                        72978 non-null  object
 16  Size                               72978 non-null  object
 17  TopThreeAmericanName               72978 non-null  object
 18  MMRAcquisitionAuctionAveragePrice  72965 non-null  float64
 19  MMRAcquisitionAuctionCleanPrice    72965 non-null  float64
 20  MMRAcquisitionRetailAveragePrice   72965 non-null  float64
 21  MMRAcquisitonRetailCleanPrice      72965 non-null  float64
 22  MMRCurrentAuctionAveragePrice      72668 non-null  float64
 23  MMRCurrentAuctionCleanPrice        72668 non-null  float64
 24  MMRCurrentRetailAveragePrice       72668 non-null  float64
 25  MMRCurrentRetailCleanPrice         72668 non-null  float64
 26  PRIMEUNIT                          3419 non-null   object
 27  AUCGUART                           3419 non-null   object
 28  BYRNO                              72983 non-null  int64
 29  VNZIP1                             72983 non-null  int64
 30  VNST                               72983 non-null  object
 31  VehBCost                           72983 non-null  float64
 32  IsOnlineSale                       72983 non-null  int64
 33  WarrantyCost                       72983 non-null  int64
dtypes: float64(10), int64(9), object(15)
memory usage: 18.9+ MB

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt

### Убираем лишнее

In [6]:
drop_columns = [
    'RefId', 
    'PurchDate', 
    'Model', 
    'SubModel', 
    'Trim', 
    'WheelTypeID', 
    'Make', 
    'VNST', 
    'VNZIP1', 
    'BYRNO', 
    'MMRAcquisitionAuctionCleanPrice', 
    'MMRAcquisitionRetailAveragePrice',
    'MMRAcquisitonRetailCleanPrice',
    'MMRCurrentAuctionCleanPrice',
    'MMRCurrentRetailAveragePrice',
    'MMRCurrentRetailCleanPrice' 
]
cat_columns = ['Auction', 'WheelType', 'Color', 'Transmission', 'Nationality', 'Size', 'TopThreeAmericanName', 'PRIMEUNIT', 'AUCGUART']

In [7]:
data = data.drop(columns=drop_columns)
data.head(5)

,IsBadBuy,Auction,VehYear,VehicleAge,Color,Transmission,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRCurrentAuctionAveragePrice,PRIMEUNIT,AUCGUART,VehBCost,IsOnlineSale,WarrantyCost
0,0,ADESA,2006,3,RED,AUTO,Alloy,89046,OTHER ASIAN,MEDIUM,OTHER,8155.0,7451.0,NaN,NaN,7100.0,0,1113
1,0,ADESA,2004,5,WHITE,AUTO,Alloy,93593,AMERICAN,LARGE TRUCK,CHRYSLER,6854.0,7456.0,NaN,NaN,7600.0,0,1053
2,0,ADESA,2005,4,MAROON,AUTO,Covers,73807,AMERICAN,MEDIUM,CHRYSLER,3202.0,4035.0,NaN,NaN,4900.0,0,1389
3,0,ADESA,2004,5,SILVER,AUTO,Alloy,65617,AMERICAN,COMPACT,CHRYSLER,1893.0,1844.0,NaN,NaN,4100.0,0,630
4,0,ADESA,2005,4,SILVER,MANUAL,Covers,69367,AMERICAN,COMPACT,FORD,3913.0,3247.0,NaN,NaN,4000.0,0,1020

In [8]:
 data.isnull().sum()

IsBadBuy                                 0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Color                                    8
Transmission                             9
WheelType                             3174
VehOdo                                   0
Nationality                              5
Size                                     5
TopThreeAmericanName                     5
MMRAcquisitionAuctionAveragePrice       18
MMRCurrentAuctionAveragePrice          315
PRIMEUNIT                            69564
AUCGUART                             69564
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

In [9]:
data.loc[data['Color'].isna(), 'Color'] = 'OTHER'
data.loc[data['WheelType'].isna(), 'WheelType'] = 'Special'
data.loc[data['Transmission'] == 'Manual', 'Transmission'] = 'MANUAL'
data.loc[data['Transmission'].isna(), 'Transmission'] = 'AUTO'
data.loc[data['Nationality'].isna(), 'Nationality'] = 'AMERICAN'
data.loc[data['Size'].isna(), 'Size'] = 'MEDIUM'
data.loc[data['TopThreeAmericanName'].isna(), 'TopThreeAmericanName'] = 'OTHER'
data.loc[data['PRIMEUNIT'].isna(), 'PRIMEUNIT'] = 'OTHER'
data.loc[data['AUCGUART'].isna(), 'AUCGUART'] = 'OTHER'
data.loc[data['MMRAcquisitionAuctionAveragePrice'].isna(), 'MMRAcquisitionAuctionAveragePrice'] = data['MMRAcquisitionAuctionAveragePrice'].mean(skipna=True)
data.loc[data['MMRCurrentAuctionAveragePrice'].isna(), 'MMRCurrentAuctionAveragePrice'] = data['MMRCurrentAuctionAveragePrice'].mean(skipna=True)

In [10]:
y = data['IsBadBuy'].to_numpy()
X = data.drop(columns=['IsBadBuy'] + cat_columns).to_numpy()

In [11]:
from sklearn.svm import SVC

indices = np.arange(X.shape[0])
np.random.shuffle(indices)
X_train, X_test, y_train, y_test = X[indices[:65000]], X[indices[65000:]], y[indices[:65000]], y[indices[65000:]]

In [12]:
%%time
model = SVC(kernel='rbf')
model.fit(X_train, y_train)
(model.predict(X_test) == y_test).sum() / len(y_test)

Wall time: 43.9 s

0.8791181260177878

In [13]:
y = data['IsBadBuy'].to_numpy()
X = pd.get_dummies(data.drop(columns=['IsBadBuy'])).to_numpy()

indices = np.arange(X.shape[0])
np.random.shuffle(indices)
X_train, X_test, y_train, y_test = X[indices[:65000]], X[indices[65000:]], y[indices[:65000]], y[indices[65000:]]

In [14]:
%%time
model = SVC(kernel='rbf')
model.fit(X_train, y_train)
(model.predict(X_test) == y_test).sum() / len(y_test)

Wall time: 2min 11s

0.8807465864963047